* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(199, 108, 108);
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.calculator {
  height: 80vh;
  width: 500px;
  border-radius: 25px;
  background-color: black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.output {
  width: 100%;
  height: 80px;
  background-color: rgb(153, 157, 161);
  border-radius: 15px;
  font-size: 3em;
  font-weight: 800;
  color: brown;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.pads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 6px;
  width: 100%;
  flex: 1;
}

.btn-pad {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 800;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}

.btn-pad:hover {
  filter: brightness(0.75);
}

.btn-red {
  background-color: red;
  color: #fff;
}

.btn-blue {
  background-color: blue;
  color: #fff;
}